*{
    margin:0;
    font-family: 'Lato', sans-serif;
}
/* <!----------------------
    1st-section-start 
-----------------------> */
.top-section-container{
    background-color: #f3eade;
}
.header-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    margin-left: 100px;
    font-size: 35px;
    font-weight: 700;
}
.nav-bar{
    padding-top: 30px;
}
.nav-menu{
    margin-right: 100px;
}
.nav-menu a{
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.bigger-text-container{
    margin-top: 150px;
}
.big-title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.small-title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.top-button{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
.top-button-text{
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: darkblue;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
}
.top-banner-img{
    text-align: center;
    padding-bottom: 100px;
}
/* <!----------------------
    1st-section-end 
-----------------------> */

/* <!----------------------
    2nd-section-start 
-----------------------> */
.grid-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 600px;
  gap: 15px 15px;
}
.middle-section-container{
    display: flex;
    align-items: center;
    margin: 100px;
}
.middle-section-title{
    padding-left: 250px;
}
.mid-text1{
    font-size: 30px;
    font-weight: 700;
}
.mid-belly-text1{
    font-size: 30px;
    font-weight: 500;
    color: rgb(32, 7, 172);
}
.mid-belly-text2{
    color: orange;
}
.mid-text2{
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
}
.mid-button{
    border: none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: orange;
    font-size: 15px;
    font-weight: 700;
    color: darkblue;
}
/* <!----------------------
    2nd-section-end
-----------------------> */

/* <!----------------------
    3rd-section-start 
-----------------------> */
.tri-section-container{
    display: flex;
}
.tri-section-title{
    font-size: 30px;
    font-weight: 600;
    border-left: 5px solid orange;
    padding-left: 10px;
}
.tri-section-text{
    margin-top: 15px;
    font: 15px;
    font-weight: 600;
}
.article-container{
    margin-top: 50px;
}
#article_column{
    box-shadow: 15px 15px 15px 15px  rgb(243, 240, 240);
    border-radius: 10px;
    padding: 30px;
}
#article_header{
    font-size: 23px;
    font-weight: 900;
}
#article_text{
    margin-top: 15px;
    font-weight: 500;
    text-align: justify;
}
.tri-section-container{
   margin: 150px;
}
.tri-section-img{
    margin-left: 100px;
}
.tri-section-img img{
    margin-top: 200px;
    height: 850px;
}
.tri-section-btn{
    border: none;
    color: white;
    background-color: orange;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    padding: 25px;
    position: relative;
    right: 55px;
    bottom: 85px;
}
.tri-section-btn-text{
    font-size: 15px;
    color: white;
}
/* <!----------------------
    3rd-section-end 
-----------------------> */

/* <!----------------------
    4th-section-start 
-----------------------> */
.quad-container{
    width: 45%;
    margin: 70px;
}
.quad-section-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.quad-section-text{
    text-align: justify;
    font-weight: 500;
}
/* <!----------------------
    4th-section-end 
-----------------------> */
/* <!----------------------
    5th-section-start
-----------------------> */
.fifth-container{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.iconBox img{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 50px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-size: 100% 200%;
    background-position: 0% 5%;
    transition: background-position 1s;
    border: 1px solid orange;
}
.iconBox img:nth-child(1){
    background-image: linear-gradient(#fff 50%, tomato 50%);
}
.iconBox img:hover{
    transition: 1s;
    background: rgb(3, 50, 88);
    background-position: 0% 100%;
}

#fifth-text{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
#fifth-para-text{
    text-align: center;
}

/* <!----------------------
    5th-section-end
-----------------------> */
.project-header{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin: 80px;
}
.photo-gallery {
    width: 80%;
    margin: auto;
}
.column{
    display: grid;
    grid-template-columns: repeat(1, 3fr 4fr 3fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
/* <!----------------------
    6th-section-start
-----------------------> */
.sixth-section-head_text{
    text-align: center;
    margin: 150px;
}
.sixth-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px;
}
.sixth-text{
    font-weight: 500;
}
/* <!----------------------
    6th-section-end
-----------------------> */
/* <!----------------------
    7th-section-start
-----------------------> */
.seventh-container{
    display: flex;
    justify-content: space-evenly;
}
/* <!----------------------
    7th-section-end
-----------------------> */
/* footer-section */
.foot-container{
    margin: 150px;
}
.foot-text{
    text-align: center;
    font: 15px;
    border: none;
    border-radius: 8px;
    background-color: #FFF4E7;
    padding: 40px;
}

/* -------------------
    Media Queries 
--------------------*/

/*-------------------
 for Mobile Devices
------------------- */
@media only screen and (max-width:688px){
    .header-contain{
        flex-wrap: wrap;
    }
    .header-title{
        margin-left: 25px;
    }
    .nav-menu{
        margin-top: 40px;
    }
    .nav-menu a{
        display: flex;
        padding-top: 0px;
    }
    .big-title{
        font-size: 30px;
        margin-top: -100px;
    }
    .small-title{
        padding: 18px;
    }
    .top-banner-img img{
        width: 100%;
    }
    .middle-section-container{
        display: inline;
        text-align: center;
    }
    .grid-img-container{
        display: inline;
        margin-left: -65px;
    }
    .grid-img-container img{
        padding-top: 20px;
    }
    .middle-section-title{
        margin-left: -250px;
        padding-top: 35px;
    }
    .tri-section-container{
        display: inline;
        padding-top: 30px;
    }
    .tri-section-img img{
        width: 388px;
        height: 619px;
        margin-left: -88px;
        margin-right: 50px;
    }
    .fifth-container{
        display: inline;
        text-align: center;
    }
    .sixth-text{
        margin-left: -90px;
        margin-right: -90px;
    }
    .seventh-container{
        flex-direction: column;
        align-items: center;
    }
    .seventh-container img{
        padding-top: 40px;
    }
    .foot-container{
        margin: 5px;
        padding-top: 50px;
    }
}